<% content_for :title do %>HADashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outtemp" data-view="Sttemp" data-title="Outdoor" data-device="Outdoor Multisensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outhumidity" data-view="Sthumidity" data-title="Outdoor" data-device="Outdoor Multisensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gatecontact" data-view="Stcontact" data-title="Side Gate" data-device="Side Gate Multisensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outmotion" data-view="Stmotion" data-title="Side PIR" data-device="Outdoor Multisensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="intemp" data-view="Sttemp" data-title="Living" data-device="Front Door Open/Close"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fdlock" data-view="Stlock" data-title="Front Door" data-device="Front Door Lock" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="frontdoorcontact" data-view="Stcontact" data-title="Front Door" data-device="Front Door Open/Close"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="inmotion" data-view="Stmotion" data-title="Indoor PIR" data-device="Indoor Motion/Temp"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kitchtemp" data-view="Sttemp" data-title="Kitchen" data-device="Indoor Motion/Temp"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="smoke" data-view="Stsmoke" data-title="Smoke Alarm" data-device="Smoke/CO Alarm"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presence1" data-view="Stpresence" data-title="Angie" data-device="Angie's Nexus 5"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presence2" data-view="Stpresence" data-title="Paul" data-device="Paul's iPhone 6"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Mode"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Night" data-phrase="Good Night!" data-countdown="10" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="subtemp" data-view="Sttemp" data-title="Subfloor" data-device="Subfloor Temp/Humidity"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="subhumidity" data-view="Sthumidity" data-title="Subfloor" data-device="Subfloor Temp/Humidity"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wemofan" data-view="Stswitch" data-title="Subfloor Fan" data-icon="power-off" data-device="WeMo Switch" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload" data-event-click="onClick"></div>
    </li>

  </ul>
</div>
