// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #888888;
$title-color:       rgba(255, 255, 255, 0.7);
$value-color:		#fff;

// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-stsmoke {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .switch-icon {
    font-weight: 500;
    font-size: 150%;
    color: $value-color;
  }

}
